<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Jugar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-row class="container">
    <ion-col size="12" class="top text-center" (click)="moveTo('tabs/tab1/facil')">
      FÁCIL
    </ion-col>
    <ion-col size="12" class="medium text-center" (click)="moveTo('tabs/tab1/medio')">
      MEDIO
    </ion-col>
    <ion-col size="12" class="bottom text-center" (click)="moveTo('tabs/tab1/dificil')">
      DIFÍCIL
    </ion-col>
  </ion-row>
</ion-content>